/* Elemental Selectors */
body {
    margin: 0;
    line-height: 1.5;
    font-family: monospace;
}

li {
    list-style-type: none;
}

/* Container classes */
.container-fluid {
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 0px;
    max-width: 1850px;
}

.main {
    text-align: center;
    max-width: 1400px;
}

.weather-dashboard {
    margin: 0;
    background-color: rgb(37, 37, 255);
    text-shadow: 2px 2px 5px rgb(167, 252, 252);
}

.city-container {
    max-width: 366px;
}

.search-container {
    margin-top: 50px;
}

/* Card classes */
.card {
    border: solid gray 1px;
    border-radius: 15px 15px 15px 15px;
    font-size: 20px;
    
}

/* .card-body {
    width: ;
} */


/* Buttons */
.btn {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    width: 100%;
}

#history-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(108, 165, 214);
    margin: 0.5rem;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px rgb(143, 170, 245);
}

#history-btn:hover {
    background-color: rgb(52, 128, 194);
}

/* Weather container id selectors */
#current-day {
    border: solid gray 1px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 40px;
}

#city-info {
    font-size: 50px;
}

#forecast-h2 {
    font-size: 40px;
}